body {
  overflow-x: hidden;
}

#root {
  overflow-x: hidden;
}

.contact-form {
  background-color: #0e0e11;
  border: 1px solid #25252c;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  height: 2.5rem;
  border-radius: 5px;
  padding-left: 0.5rem;
  outline: none;
  border: none;
  background-color: #484858;
}

.contact-form textarea {
  resize: none;
  height: 5rem;
  padding-top: 0.5rem;
}

.contact-form .p-info {
  grid-template-columns: 1fr 1fr;
  width: 100%;
}

.contact-form .cta {
  background-color: #3355b4;
  height: 2.5rem;
  border-radius: 5px;
}

.card-title {
  position: relative;
  top: -2px;
}

.languauge {
  grid-template-columns: 1fr 1fr;
  width: 6rem;
}

.languauge button {
  width: 100%;
  border: 1px solid #3e60c1;
  border-radius: 5px;
  opacity: 0.5;
}

.footer {
  display: grid;
  grid-template-columns: auto auto auto;
  justify-content: space-between;
  align-items: end;
  padding: 2rem;
}

.social-links {
  margin-top: auto;
  align-items: end;
}
.footer a {
  font-size: 1rem;
}

.contact-links {
  width: 100%;
  justify-content: center;
}

.social-links {
  bottom: 1.5rem;
  align-self: center;

  justify-content: center;
  left: 0;
}

.hero_section h1 {
  font-size: 3.8rem;
}

.language-container img {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}

.language-container {
  background-color: #ffffff;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  width: 2.8rem;
  overflow: hidden;
  border-radius: 4rem;
  opacity: 0.5;
  transition: ease 0.5s;
  height: 6rem;
  top: calc(55vh - 6rem);
  backdrop-filter: blur(10px);
}

.language-container:hover {
  width: 6rem;
  border-radius: 0.8rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  opacity: 1;
}

.language-container button {
  display: flex;
  position: relative;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  transition: ease 0.5s;
  border-radius: 50%;
}

.language-container:hover button {
  width: 4.5rem;
  border-radius: 0.5rem;
  justify-content: start;
  padding-left: 0.5rem;
}

.language-container .active-language {
  background-color: rgba(62, 96, 193, 0.2); /* Example: green background */
  color: white;
  opacity: 1;
  border: 1px solid #3e60c1;
}

.language-container button span {
  color: #0e0e11;
  position: absolute;
  right: -0.5rem;
  transform: translateX(0.25rem);
  transition: ease 0.3s;
  opacity: 0;
}

.language-container:hover span {
  transform: translateX(0);
  position: relative;
  opacity: 1;
  right: 0;
}

.project-card {
  background-color: rgb(41, 41, 41);
  border: 1px solid rgb(255, 255, 255, 0.1);
  cursor: pointer;
  border-radius: 1rem;
}

.project-overlay {
  top: 0.5rem;
  padding: 0.25rem;
  padding-left: 1rem;
  transition: ease 0.6s;
  border-radius: 4rem;
  left: 0.5rem;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
}

.project-card:hover .project-overlay {
  width: calc(100% - 1rem);
  background-color: rgb(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
}

.project-overlay .font-medium {
  position: absolute;
  white-space: nowrap;
  opacity: 0;
  transition: ease 0.3s;
  left: 1rem;
}

.project-card:hover .project-overlay .font-medium {
  opacity: 1;
  left: 1rem;
  transition-delay: 0.2s;
}

.project-overlay .icon {
  height: 2.15rem;
  width: 2.15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  background-color: #3355b4;
  border-radius: 50%;
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
}

.project-overlay .icon svg {
  height: 1.5rem;
  width: 1.5rem;
}

.project-overlay * {
  color: #fff;
}

.tooltip {
  background-color: white;
  width: 7.5rem;
  font-size: 0.65rem;
  padding-left: 1rem;
  padding-right: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 0.5rem;
  font-weight: 500;
  right: -2.5rem;
  box-shadow:
    0.7px 2.1px 4.1px rgba(0, 0, 0, 0.048),
    2.5px 7.1px 13.8px rgba(0, 0, 0, 0.072),
    11px 32px 62px rgba(0, 0, 0, 0.12);
  opacity: 0;
  visibility: hidden;
  top: -2.4rem;
  transition: ease 0.2s;
  color: #0e0e11;
}

.tooltip::before {
  content: "";
  height: 1.35rem;
  width: 1.35rem;
  background-color: white;
  position: absolute;
  top: 0.9rem;
  border-radius: 2px;
  transform: rotate(45deg);
}

.tooltip span {
  color: #0e0e11;
  position: relative;
  z-index: 1;
}
.project-card:hover .hovered {
  top: -2.6rem;
  opacity: 1;
  visibility: visible;
}

.project-card img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 1rem;
  transform: scale(1.4);
}

.project-image {
  border-radius: 1rem;
}

.imprint-page {
  height: 60vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
}

@media not all and (min-width: 520px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 2rem;
  }

  .social-links {
    margin-left: 0;
    margin-right: auto;
  }
  .cont {
    justify-content: start;
  }

  .footer p {
    width: 100%;
    text-align: start;
  }
}

nav {
  display: grid;
  grid-template-columns: 12rem auto 12rem;
  position: sticky;
  gap: 0;
  z-index: 10;
  width: 100vw;
  overflow: hidden;
  padding-top: 1.5rem;
  margin-bottom: 4rem;
}

.contact-btn {
  height: 2.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media not all and (min-width: 960px) {
  .navlinks {
    display: none;
  }
  .contact-btn {
    display: none;
  }
  nav {
    display: flex;
  }
}

nav img {
  height: 2.35rem;
}

.button-home:hover {
  background-color: rgba(62, 96, 193, 0.25);
}

p {
  line-height: 180%;
}

.contact-info{
  display: grid;
}

.contact-info div {
  background: rgba(255, 255, 255, 0.025);
  border: 1px solid rgba(255, 255, 255, 0.10);
  border-radius: 10px;
}

.contact-info div span {
  width: fit-content;
}


.imprint-page{
  width: 55rem;
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}


@media not all and (min-width: 880px) {
  .imprint-page{
    width: 100%;}
}

@media not all and (min-width: 640px) {
  .contact-info{
    display: flex;
    flex-direction: column;
  }
}